.header {
    height: 70px;
    /* background: grey; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo {
    height: 60px;
    width: 200px;
    cursor: pointer;
}

.header-right {
    display: flex;
    align-items: center;
}